<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Profile page - Pictures</title>
    <link rel="stylesheet" href="/stylesheets/admin_account_profile_info.css">
  </head>

  <body>

    <div id="admin_header">
      <div id="admin_user_info">
        <img class="user_pic_admin" src="/images/IMG_0088.JPG" alt="Photo user" />
        <h2 class="user_name_admin">Romain Mk</h2>
      </div>
      <img class="home_logo" src="/images/elements/logo.svg" alt="Logo" />
    </div>

    <div id="admin_navbar">
      <h3>PROFILE INFORMATION</h3>
      <h3>PREFERENCES</h3>
      <h3>FAVORITES</h3>
      <h3>ACCOUNT INFORMATION</h3>
    </div>

<!-- BODY -->

    <div id="admin_profile_info_body">

    </div>


  </body>

</html>
