<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Profile page - Story</title>
    <link rel="stylesheet" href="/stylesheets/admin_main.css">
  </head>

  <body>

    <div id="profile_page_header">
      <img class="user_pic_profile" src="/images/IMG_0088.JPG" alt="Photo user" />
      <h2 class="user_name_profile">Romain Mk</h2>
      <img src="/images/elements/add_as_favorite_author_button.svg"/>
      <div class="social_media_profile">
        <img class="social_media_icons" src="/images/elements/facebook_icon.svg"/>
        <img class="social_media_icons" src="/images/elements/twitter_icon.svg"/>
        <img class="social_media_icons" src="/images/elements/google_icon.svg"/>
        <img class="social_media_icons" src="/images/elements/instagram_icon.svg"/>
        <img class="social_media_icons" src="/images/elements/url_icon.svg"/>
      </div>
    </div>

    <div id="user_stories_navbar">
      <div class="navbar_stories">
        <h3>STORIES</h3>
        <span>17</span>
      </div>
      <div class="navbar_pictures">
        <h3>PICTURES</h3>
        <span>45</span>
      </div>
      <h3>STORY MAP</h3>
      <h3>ABOUT ME</h3>
    </div>

<!-- NEWSFEED -->

    <div id="user_stories_body">

        <div id="card">

          <div id="cardPic"></div>

          <div id="cardIcons">
            <img src="/images/IMG_0088.JPG" class="user_pic" alt="Photo user" />
            <div id="name_date">
              <p class="user_name">Romain Mk</p>
              <p class="date">22 janvier 2018</p>
            </div>
            <div id="save_share_icons">
              <img class="save" src="/images/elements/save_button.svg"/>
              <img class="share" src="/images/elements/share_button.svg"/>
            </div>
          </div>

          <div id="card_bottom">

            <div id="cardText">
              <h3>Titre de l'article</h3>
              <p>Il était une fois bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla</p>
              <img src="/images/elements/read_more_button.svg" class="read_more" />
            </div>

            <div id="cardTags">
              <img src="/images/elements/tag_funny.svg" />
              <img src="/images/elements/tag_dangerous.svg" />
              <img src="/images/elements/tag_scary.svg" />
            </div>

          </div>

        </div>

        <div id="card">

          <div id="cardPic"></div>

          <div id="cardIcons">
            <img src="/images/IMG_0088.JPG" class="user_pic" alt="Photo user" />
            <div id="name_date">
              <p class="user_name">Romain Mk</p>
              <p class="date">22 janvier 2018</p>
            </div>
            <div id="save_share_icons">
              <img class="save" src="/images/elements/save_button.svg"/>
              <img class="share" src="/images/elements/share_button.svg"/>
            </div>
          </div>

          <div id="card_bottom">

            <div id="cardText">
              <h3>Titre de l'article</h3>
              <p>Il était une fois bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla</p>
              <img src="/images/elements/read_more_button.svg" class="read_more" />
            </div>

            <div id="cardTags">
              <img src="/images/elements/tag_funny.svg" />
              <img src="/images/elements/tag_dangerous.svg" />
              <img src="/images/elements/tag_scary.svg" />
            </div>

          </div>

      </div>

    </div>


  </body>

</html>
