<%- include('../inc/header'); %>

  <div class="newstory_header"></div>

  <div class="newstory_body">

    <div class="newstory_side_bar">
      <img src="/images/elements/create_publication_side_bar_1.svg" />
    </div>

    <div class="newstory_steps">

      <div class="newstory_step1">
        <h2 class="newstory_title">TELL US YOUR STORY</h2>
        <!-- <form action="/admin/newstory" method="POST"> -->
        <form encType="multipart/form-data" action="/admin/newstory" method="POST">
          <div class="newstory_titleZone">
            <label class="newstory_subtitle">GIVE YOUR STORY A TITLE</label><br>
            <input type="text" name="title" value="" placeholder="50 characters maximum" class="newstory_titleInput" maxlength="50">
          </div>
          <div class="newstory_textZone">
            <label class="newstory_subtitle">WHAT IS YOUR STORY?</label><br>
            <textarea name="text_zone" rows="3" class="newstory_textInput"></textarea>
          </div>
          <div class="newstory_bottom_buttons">
            <div class="newstory_picZone">
              <label class="newstory_subtitle">ATTACH A PICTURE TO YOUR STORY TO MAKE IT LOOK BETTER</label><br>
              <input type="file" name="storypic" value=""> <br/>
            </div>
            <input type="submit" name="publish" value="Publish" class="newstory_publish_button" />
          </div>
        </form>

      <!-- <div id="step2">
        <h2>ADD PICTURES</h2>
        <h3>Add a profile picture to your story to make it look better</h3>
        <img class="add_pics_button" src="/images/elements/add_story_profile_pic_button.svg" />
        <h3>Do you want to attach some other pictures to your story?</h3>
        <img class="add_pics_button" src="/images/elements/add_story_pics_button.svg" />
        <div id="text_creation_buttons">
          <img src="/images/elements/save_draft_button.svg" />
          <img src="/images/elements/publish_button.svg" />
        </div>
      </div> -->

    </div>

  </div>

<%- include('../inc/footer'); %>
