<%- include('../inc/header'); %>


  <div id="publication_header">
    <!-- <div id="publication_user_info">
      <img class="user_pic_publication" src="/images/IMG_0088.JPG" alt="Photo user" />
      <h2 class="user_name_publication">Romain Mk</h2>
    </div>
    <img class="home_logo" src="/images/elements/logo.svg" alt="Logo" /> -->
  </div>

  <!-- PUBLICATION BODY -->
  <div id="publication_1_body">

    <div id="side_bar">
      <img src="/images/elements/create_publication_side_bar_1.svg" />
    </div>

    <div id="text_creation">
      <h2>TELL US YOUR STORY</h2>
      <input id="text_zone" type="text" />
      <div id="text_creation_buttons">
        <img src="/images/elements/save_draft_button.svg" />
        <img src="/images/elements/next_button.svg" />
      </div>
    </div>

  </div>


<%- include('../inc/footer'); %>
