<!DOCTYPE>

<html>

  <head>
    <meta charset="utf-8" />
    <title>Homepage</title>
    <link href="https://fonts.googleapis.com/css?family=Sedgwick+Ave+Display" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/homepage.css">
    <link rel="stylesheet" href="/stylesheets/author_main.css">
    <link rel="stylesheet" href="/stylesheets/story.css">
    <link rel="stylesheet" href="/stylesheets/admin_main.css">
    <link rel="stylesheet" href="/stylesheets/admin_account_profile_info.css">
    <link rel="stylesheet" href="/stylesheets/admin_story_step1.css">
  </head>


  <body>

    <div id="banner">

      <div id="lienLogo">
        <a href="/"><img id="logo" src="/images/elements/logo.svg" /></a>
      </div>



        <div id="login_buttons">
          <% if (log) { %>
            <a href="/admin" class="login_signup logout">My Profile</a>
            <a href="/logout" class="login_signup logout">Logout</a>
          <% } else { %>
          <a href="/login" class="login_signup">Log in</a>
          <a href="/signup" class="login_signup">Sign up</a>
          <% } %>
        </div>



    </div>
