<!DOCTYPE html>
<html>
  <head>
    <title>Ton cul</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Ton cul</h1>
    <p>Welcome to ton cul</p>
  </body>
</html>
