<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <title>Login</title>
    <link href="https://fonts.googleapis.com/css?family=Sedgwick+Ave+Display" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/login.css">
  </head>

  <body>

    <!-- Script SDK for Facebook Connect - Initialize and setup FB JS SDK -->
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '887951394709039',
          cookie     : true,
          xfbml      : true,
          version    : 'v2.12'
        });

        FB.getLoginStatus(function(response) {
            statusChangeCallback(response);
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12&appId=887951394709039&autoLogAppEvents=1";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));

       function statusChangeCallback(response) {
           if (response.status === 'connected') {
             console.log('Logged in and identificated');
             testAPI();
           } else {
             console.log('Not identificated');
           }
         }

       function checkLoginState() {
         FB.getLoginStatus(function(response) {
           statusChangeCallback(response);
         });
       }

        function testAPI(){
          FB.api ('/me?fields=name,email', function(response){
            if(response && !response.error){
              console.log(response);
            }
          })
        }

    </script>
    <!-- End of script for Facebook Connect -->

    <div id="lienLogo">
      <a href="/">
        <img id="logo" src="/images/elements/logo.svg" />
      </a>
    </div>

    <div class="pageLogin">

      <h1>Signup</h1>

      <% if (errors) { %>
        <ul>
          <% errors.forEach(function(error){ %>
            <li><%= error.msg %></li>
          <% }); %>
        </ul>
      <% } %>

      <div
        class="fb-login-button"
        data-max-rows="1"
        data-size="large"
        data-button-type="continue_with"
        data-show-faces="false"
        data-auto-logout-link="false"
        data-use-continue-as="false"
        scope="public_profile,email"
        onlogin="checkLoginState();">
      </div>

      <form class="input_column" action="/signup" method="post">
        <input type="text" name="username" placeholder="Your Username" value="" required>
        <input type="email" name="email" placeholder="Your Email" value="" required>
        <input type="password" name="password" placeholder="Your Password" value="" required>
        <input class="validate" type="submit" name="submit" value="Register">
      </form>

      <span class="renvoiSignupLogin">Have an account yet ? <a href="/login">click here</a></span>

    </div>

  </body>
</html>
