<%- include('inc/header'); %>

    <div id="story_header">

      <div id="story_pic_banner">
        <img class="user_pic" src="/images/IMG_0088.JPG" alt="Photo user" />
        <div id="story_name_date">
          <p class="story_name">Romain Mk</p>
          <p class="story_date">25 décembre 2017</p>
        </div>
        <div id="story_like_comment">
          <div id="story_likes">
            <img src="/images/elements/like_icon.svg" />
            <p class="numbers">25</p>
          </div>
          <div id="story_comments">
            <img src="/images/elements/comment_icon.svg" />
            <p class="numbers">25</p>
          </div>
        </div>
      </div>

    </div>

  <div id="story_main">

    <div id="story">
      <h2>FEAR OF A BOT PLANET</h2>
      <p id="story_text">'ve got to find a way to escape the horrible ravages of youth. Suddenly, I'm going to the bathroom like clockwork, every three hours. And those jerks at Social Security stopped sending me checks. Now 'I'' have to pay ''them'! When I was first asked to make a film about my nephew...
I've got to find a way to escape the horrible ravages of youth. Suddenly, I'm going to the bathroom like clockwork, every three hours. And those jerks at Social Security stopped sending me checks. Now 'I'' have to pay ''them'! When I was first asked to make a film about my nephew...  I've got to find a way to escape the horrible ravages of youth. Suddenly, I'm going to the bathroom like clockwork, every three hours. And those jerks at Social Security stopped sending me checks. Now 'I'' have to pay ''them'! When I was first asked to make a film about my nephew...  I've got to find a way to escape the horrible ravages of youth. Suddenly, I'm going to the bathroom like clockwork, every three hours. And those jerks at Social Security stopped sending me checks. Now 'I'' have to pay ''them'! When I was first asked to make a film about my nephew...  I've got to find a way to escape the horrible ravages of youth. Suddenly, I'm going to the bathroom like clockwork, every three hours. And those jerks at Social Security stopped sending me checks. Now 'I'' have to pay ''them'! When I was first asked to make a film about my nephew...  I've got to find a way to escape the horrible ravages of youth. Suddenly, I'm going to the bathroom like clockwork, every three hours. And those jerks at Social Security stopped sending me checks. Now 'I'' have to pay ''them'! When I was first asked to make a film about my nephew...  I've got to find a way to escape the horrible ravages of youth. Suddenly, I'm going to the bathroom like clockwork, every three hours. And those jerks at Social Security stopped sending me checks. Now 'I'' have to pay ''them'! When I was first asked to make a film about my nephew...  I've got to find a way to escape the horrible ravages of youth. Suddenly, I'm going to the bathroom like clockwork, every three hours. And those jerks at Social Security stopped sending me checks. Now 'I'' have to pay ''them'! When I was first asked to make a film about my nephew...  I've got to find a way to escape the
've got to find a way to escape the horrible ravages of youth. Suddenly, I'm going to the bathroom like clockwork, every three hours. And those jerks at Social Security stopped sending me checks. Now 'I'' have to pay ''them'! When I was first asked to make a film about my nephew...
I've got to find a way to escape the horrible ravages of youth. Suddenly, I'm going to the bathroom like clockwork, every three hours. And those jerks at Social Security stopped sending me checks. Now 'I'' have to pay ''them'! When I was first asked to make a film about my nephew...  I've got to find a way to escape the horrible ravages of youth. Suddenly, I'm going to the bathroom like clockwork, every three hours. And those jerks at Social Security stopped sending me checks. Now 'I'' have to pay ''them'! When I was first asked to make a film about my nephew...  I've got to find a way to escape the horrible ravages of youth. Suddenly, I'm going to the bathroom like clockwork, every three hours. And those jerks at Social Security stopped sending me checks. Now 'I'' have to pay ''them'! When I was first asked to make a film about my nephew...  I've got to find a way to escape the horrible ravages of youth. Suddenly, I'm going to the bathroom like clockwork, every three hours. And those jerks at Social Security stopped sending me checks. Now 'I'' have to pay ''them'! When I was first asked to make a film about my nephew...  I've got to find a way to escape the horrible ravages of youth. Suddenly, I'm going to the bathroom like clockwork, every three hours. And those jerks at Social Security stopped sending me checks. Now 'I'' have to pay ''them'! When I was first asked to make a film about my nephew...  I've got to find a way to escape the horrible ravages of youth. Suddenly, I'm going to the bathroom like clockwork, every three hours. And those jerks at Social Security stopped sending me checks. Now 'I'' have to pay ''them'! When I was first asked to make a film about my nephew...  I've got to find a way to escape the horrible ravages of youth. Suddenly, I'm going to the bathroom like clockwork, every three hours. And those jerks at Social Security stopped sending me checks. Now 'I'' have to pay ''them'! When I was first asked to make a film about my nephew...  I've got to find a way to escape the
      </p>
    </div>

    <div id="side_menu">

      <div class="side_cards">
        <div class="cards_titles">
          <h3>ABOUT THE AUTHOR</h3>
        </div>
        <div class>
          <p class="cards_text">Nom de l'auteur</p>
          <p class="cards_text">bla bla bla bla bla</p>
          <p class="cards_button">READ MORE</p>
        </div>
      </div>

      <div class="side_cards">
        <div class="cards_titles">
          <h3>ATTACHED CATEGORIES</h3>
        </div>
        <div class="cards_content">
          <img src="/images/elements/tag_funny.svg" />
          <img src="/images/elements/tag_dangerous.svg" />
          <img src="/images/elements/tag_scary.svg" />
        </div>
      </div>

      <div class="side_cards">
        <div class="cards_titles">
          <h3>ATTACHED TAGS</h3>
        </div>
        <div class="cards_content">
          <span>#mytag</span>
          <span>#myhashtag</span>
          <span>#thisisahashtag</span>
          <span>#blablabla</span>
        </div>
        <div>
          <p class="cards_button">SHOW ALL TAGS</p>
        </div>
      </div>

      <div class="side_cards">
        <div class="cards_titles">
          <h3>ATTACHED PICTURES</h3>
        </div>
        <div class="cards_content">
          <img class="cards_pics" src="/images/bad-boy-2773131_1920.jpg"/>
          <img class="cards_pics" src="/images/bolivia-3032596_1920.jpg"/>
          <img class="cards_pics" src="/images/old-1130731_1920.jpg"/>
          <img class="cards_pics" src="/images/railway-731340_1920.jpg"/>
          <img class="cards_pics" src="/images/tasi-zoltan-211733.jpg"/>
          <img class="cards_pics" src="/images/van-2786078_1920.jpg"/>
        </div>
        <div>
          <p class="cards_button">SEE ALL</p>
        </div>
      </div>

  </div>

  </div>

      <div id="story_bottom">
        <img class="story_icons" src="/images/elements/like_button_unactivated.svg"/>
        <img class="story_icons" src="/images/elements/save_button.svg"/>
        <img class="story_icons" src="/images/elements/addasfavorite_button.svg"/>
        <img class="story_icons" src="/images/elements/facebook_icon.svg"/>
        <img class="story_icons" src="/images/elements/google_icon.svg"/>
        <img class="story_icons" src="/images/elements/email_icon.svg"/>
        <img class="story_icons" src="/images/elements/url_icon.svg"/>
      </div>

<%- include('inc/footer'); %>
