body {
  margin: 0;
}

/* STORY HEADER */

#admin_header {
  background-image: url("/images/volkswagen-569315_1920.jpg");
  background-size: cover;
  background-position: center center;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.admin_profile_picture {
  border-radius: 50%;
  width: 10%;
}

.admin_name {
  font-size: 25px;
  color : white;
  font-family: 'Sedgwick Ave Display', 'Open sans', cursive, sans-serif;
  margin-top: 0.5%;
}

.admin_div_social_media {
  display: flex;
  justify-content: center;
  margin-top: 2%;
  width: 20%;
}

.admin_social_media_icons {
  width: 35px;
  height: 35px;
}

/* #admin_navbar {
  display: flex;
  justify-content: space-around;
  font-family: 'Roboto condensed', 'Open sans', cursive, sans-serif;
  color: #8493A8;
  border-width: thin;
  border-color: #ECEFF4;
  border-style: solid;
  border-left: 0;
  border-right: 0;
  border-top: 0;
}

.admin_stories_navbar {
  display: flex;
}

.admin_pictures_navbar {
  display: flex;
}

.admin_number {
  display: flex;
  align-items: center;
  padding-left: 10%;
} */

/* NEWSFEED */

#admin_newsfeed {
  display: inline-block;
  font-size: 0;
  padding: 1%;
}

.admin_newsfeed_card {
  font-size: 16px;
  border-width: thin;
  border-color: #D8D8D8;
  border-style: solid;
  border-top: 0;
  border-radius: 1%;
  width: 48%;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  margin: 1%;
}

.admin_newsfeed_cardTop {
  background-image: url("../images/car-1093927_1920.jpg");
  background-size: cover;
  background-position: center center;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.admin_cardTop_banner {
  background-color: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  padding-left: 1%;
}

.admin_changes_buttons {
  display: flex;
  justify-content: flex-end;
}

.admin_cardTop_authorPic {
  border-radius: 50%;
  width: 6%;
}

.admin_cardTop_infos {
  display: flex;
  flex-direction: column;
  margin-left: 1%;
}

.admin_cardTop_infos_authorName {
  font-family: 'Sedgwick Ave Display', cursive, sans-serif;
  color: white;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

.admin_cardTop_infos_storyDate {
  font-family: 'Open sans', cursive, sans-serif;
  color: white;
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 0;
}

.admin_newsfeed_cardBottom {
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 2%;
  height: 180px;
}

.admin_div_cardText_text {
  height: 108px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.admin_cardText_text {
  text-align: justify;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.admin_cardTex_readMore {
  position: absolute;
  right: 1%;
  padding-top: 1%;
}
