body {
  margin: 0;
  font-family: 'Open sans', cursive, sans-serif;
}

#account_header {
  background-image: url("/images/volkswagen-569315_1920.jpg");
  background-size: cover;
  background-position: center center;
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#admin_profile_info_body {
  display : flex;
  justify-content: center;
}

#formAccount {
  margin-top : 50px;
  display : flex;
  flex-direction: column;
}

.change_Profile_Picture {
  display :flex ;
  cursor : pointer;
  flex-direction: column;
  text-align: center;
  margin-bottom : 30px;
}

.change_Profile_Picture label {
  color : rgb(173, 113, 72);
  margin-bottom : 10px;
  font-size : 16px;
  font-weight : bold;
}


#formAccount div {
  display : flex;
  align-items: center;
}

#formAccount img {
height : 30px;
margin-right : 20px;
}

.input_reseaux {
  width : 250px;
  font-size : 14px;
  height : 25px;
  margin : 10px;
  margin-left : 0;
  padding : 5px;
  border-radius : 8px;
  border : 1px solid #D6D6D6;
}

#formAccount input.validateAccount {
  display :block;
  background-color: #F6F6F6;
  cursor : pointer;
  width : 300px;
  font-size : 14px;
  font-weight : bold;
  color : rgb(173, 113, 72);
  height : 40px;
  text-align: center;
  border-radius : 8px;
  border : 1px solid #D6D6D6;
  margin-bottom : 30px;


}

.deleteAccount {
  height : 20px;
  border : 1px solid #D6D6D6;
 color: #F6F6F6;
  background-color : rgb(173, 113, 72);
  text-decoration: none;
  margin-top : 30px;
  cursor : pointer;
  padding : 10px;
  font-size : 14px;
  border-radius : 5px;
  font-weight : bold;
}
/*
#admin_user_info {
  margin-left: 2%;
  display: flex;
  align-items: center;
  height: 100vh;
}

.user_pic_admin {
  border-radius: 50%;
  width: 15%;
}

.user_name_admin {
  font-size: 20px;
  color : white;
  font-family: 'Sedgwick Ave Display', 'Open sans', cursive, sans-serif;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 2%;
}

.home_logo {
  width: 5%;
  margin-right: 2%;
}
*/

/* #admin_navbar {
  display: flex;
  justify-content: space-around;
  font-family: 'Roboto condensed', 'Open sans', cursive, sans-serif;
  color: #8493A8;
  border-width: thin;
  border-color: #ECEFF4;
  border-style: solid;
  border-left: 0;
  border-right: 0;
  border-top: 0;
} */
