body {
  margin: 0;
}

/* MAIN SCREEN */

#home {
  height : 100vh;
  background-image: url("../images/background_image1.png");
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}


#banner {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  padding-top: 2%;
  /*align-items: center;*/
}


#logo {
  display: flex;
  justify-content: flex-start;
  max-width: 30%;
  padding-left: 8%;
  padding-bottom: 5%;
}

#login_buttons {
  margin-right: 2%;
  padding : 0;
}

.login_signup {
  font-size: 14px;
  text-decoration: none;
  color : #C6C6C6;
  border : 1px solid #C6C6C6;
  border-radius: 10px;
  padding : 4px;
  margin-right : 5px;
  font-weight : bold;
}

#signup {
  margin-left: 5%;
}

.homepage_title_zone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height : 100vh;
  position: relative;
}

.homepage_title {
  font-size: 100px;
  color : white;
  font-family: 'Sedgwick Ave Display', cursive, sans-serif;
  margin-bottom: 5%;
  text-shadow: 2px 2px 2px black;
}

.homepage_subtitle {
  color : white;
  font-family: 'Sedgwick Ave Display', cursive, sans-serif;
  text-shadow: 1px 1px 2px black;
}

/* #home_icons {
  padding-top: 5%;
  width: 100%;
}

#facebook_icon {
  padding-right: 2%;
}

#instagram_icon {
  padding-left: 2%;
} */

#scroll {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  align-content: space-between;
  padding-bottom: 1%;
}

#arrow {
  display: inline-block;
  vertical-align: bottom;
}


/* FILTERS */

.homepage_filters_navbar {
  display: flex;
  justify-content: space-between;
  margin-left: 2%;
  margin-right: 2%;
  font-family: 'Roboto condensed', 'Open sans', cursive, sans-serif;
  color: #8493A8;
  border-width: thin;
  border-color: #ECEFF4;
  border-style: solid;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  padding-left: 2%;
  padding-right: 2%;
}


/* NEWSFEED */

#home_newsfeed {
  display: inline-block;
  font-size: 0;
  padding: 1%;
}

.home_newsfeed_card {
  font-size: 16px;
  border-width: thin;
  border-color: #D8D8D8;
  border-style: solid;
  border-top: 0;
  border-radius: 1%;
  width: 48%;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  margin: 1%;
}

.home_newsfeed_cardTop {
  background-image: url("../images/car-1093927_1920.jpg");
  background-size: cover;
  background-position: center center;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.cardTop_banner {
  background-color: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  padding-left: 1%;
}

.cardTop_authorPic {
  border-radius: 50%;
  width: 6%;
}

.cardTop_infos {
  display: flex;
  flex-direction: column;
  margin-left: 1%;
}

.cardTop_infos_authorName {
  font-family: 'Sedgwick Ave Display', cursive, sans-serif;
  color: white;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

.cardTop_infos_storyDate {
  font-family: 'Open sans', cursive, sans-serif;
  color: white;
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 0;
}

.home_newsfeed_cardBottom {
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 2%;
}
